<h1>タスク新規作成</h1>

<div class="row">
  <div class="col-md-８ col-offset-２">
    <%= form_with(model: @task, url: user_tasks_path(@user), method: :post, local: true) do |f| %>
      <% if @task.errors.any? %>
        <div class="alert alert-danger">
          <p>入力した内容に<%= @task.errors.count %>件のエラーがあります。</p>
        </div>
        <ul>
          <% @task.errors.full_messages.each do |msg| %>
          <li style="color:red"><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

    
      <div class="parts">
        <%= f.label :title, "名称", class: "label-form" %>
        <%= f.text_field :title, class: "form-control" %>
        
        <%= f.label :body, "詳細", class: "label-form" %>
        <%= f.text_area :body, rows: 5, class: "form-control" %>
        
        <%= f.submit "新規登録", class: "btn btn-lg btn-primary" %>
      </div>
   <% end %>
  </div>
</div>
